body {
    font-family: monospace;
}

input {
    font-family: monospace;
}

button {
    font-family: monospace;
}

input {
    font-family: monospace;
}

input::file-selector-button {
    font-family: monospace;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: calc(1rem/4);
    border: 1px solid;
}