body {
    font-family: monospace;
    padding: 0;
    border: 0;
    margin: 0;
}

input {
    font-family: monospace;
}

button {
    font-family: monospace;
}

input {
    font-family: monospace;
}

input::file-selector-button {
    font-family: monospace;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: calc(1rem/4);
    border: 1px solid;
}

#editor {
    padding: 0.5rem;
    border: 0;
    margin: 0;
    border-radius: 0.25rem;
    font-family: monospace;
    background-color: #DDD;
    position: absolute;
    left: 5.125rem;
}

#lines {
    padding: 0.5rem;
    border: 0;
    margin: 0;
    border-radius: 0.25rem;
    min-width: 4rem;
    font-family: monospace;
    text-align: right;
    background-color: #CCC;
    position: absolute;
}